@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    /*background-color: black;*/
    transition: 0.5s;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 35rem;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 35px;
    text-align: center;
}

button {
    margin-top: 5px;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}
